<div class="box box-default box-solid">
    <div class="box-body">

        <table id="menudetail-table"
               class="table table-striped table-bordered table-hover table-condensed"
               width="100%">
        </table>

        <div class="input-group fa-pull-right">
            <button class="btn btn-sm btn-warning" type="button" id="ws-page-back" data-toggle="tooltip-disabled"
                    title="返回">
                <i class="fa fa-reply"></i>
            </button>
        </div>

    </div>

</div>