<div class="box box-default box-solid">
    <div class="box-header">
        <form class="form-inline" role="form">
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon">数据源</span>
                    <select class="form-control" id="sourceSelector">
                    </select>
                </div>
            </div>
        </form>
    </div>
    <div class="box-body">

        <table id="source-table"
               class="table table-striped table-bordered table-hover table-condensed"
               width="100%">
        </table>

    </div>
</div>