<div class="panel  panel-info">

    <div id="ws-table" role="form" class="panel-body">
        <div class="form-group form-inline">
            <div class="input-group">
                <input type="text" class="form-control" name="name" placeholder="名称" disabled="disabled"/>
            </div>
            <div class="input-group">
                <input type="text" class="form-control" name="type" placeholder="类型，MYSQL/ORACLE" size="50" disabled="disabled"/>
            </div>
            <div class="input-group pull-right">
                <button class="btn btn-sm btn-warning" type="button" id="ws-page-back" data-toggle="tooltip-disabled"
                        title="返回">
                    <i class="fa fa-reply"></i>
                </button>
            </div>
        </div>
        <div class="form-group form-inline">
            <div class="input-group">
                <input type="text" class="form-control" name="account" placeholder="账号" size="7" disabled="disabled"/>
                <span class="input-group-addon">@</span>
                <input type="text" class="form-control" name="host" placeholder="主机" disabled="disabled"/>
                <span class="input-group-addon">/</span>
                <input type="text" class="form-control" name="database" placeholder="数据库名称" disabled="disabled"/>
            </div>
        </div>
        <div class="form-group">
            <textarea class="form-control" name="description" placeholder="描述" disabled="disabled"></textarea>
        </div>

    </div>

    <div id="ws-work" class="panel-body row">
        <div class="col-lg-7">
            <div class="panel panel-default">
                <div id="ws-workflow" class="panel-body">
                    <table id="source-tables"
                           class="table table-striped table-bordered table-hover table-condensed"
                           width="100%">
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-5">
            <div class="panel panel-default">
                <div id="ws-property" class="panel-body">
                    <textarea class="form-control" readonly="readonly" id="ws-code"></textarea>
                </div>
            </div>
        </div>
    </div>

</div>